<html>
    <head>
        <title>Visualize</title>

        <!-- fontawesome -->
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
        <!-- visualize css -->
        <link rel="stylesheet" href="css/visualize.css" />
    </head>

    <body>
        <h1 class="text-center">Internal</h1>

        <% 
            var currIdx = 0;
            var i = 0;
            var result = {
                date:
                [ '2017-11-19',
                    '2017-11-20',
                    '2017-11-21',
                    '2017-11-22',
                    '2017-11-23',
                    '2017-11-24' ],
                failedTrue: [ 3, 6, 3, 3, 9, 18 ],
                failedFalse: [ 2, 2, 1, 2, 9, 12 ],
                trippedTrue: [ 1, 2, 1, 1, 3, 6 ],
                trippedFalse: [ 4, 6, 3, 4, 15, 24 ]   
            }; 
        %>
        <input type="hidden" name="hidden_val" value="<%= i %>">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel <%= (resultStatus[i].closed)?'panel-success' : (resultStatus[i].fail)? 'panel-warning' : (resultStatus[i].tripped)? 'panel-danger' : 'panel-success';  %>">
                        <div class="panel-heading text-center">
                            <i class="fa fa-desktop"></i> <span id="panel-route"><%= resultStatus[i].route %> </span>
                        </div>
                        <div class="panel-body">
                            
                            <div class="col-md-12">
                                <b>Legend Status:</b>
                                <span class="label label-success">Closed</span>
                                <span class="label label-warning">Failed</span>
                                <span class="label label-danger">Tripped</span>
                            </div>

                            <%- include monitor_log %>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Route</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var a = 0 ; a < resultStatus.length; a++) { %>
                            <tr onclick="getLog(<%= a %>)">
                                <td id="id-<%= a %>"><%= a+1 %></td>
                                <td id="route-<%= a %>"><%= resultStatus[a].route %></td>
                                <td id="status-<%= a %>">
                                    <% if(resultStatus[a].tripped) { %>
                                        <span class="label label-danger">Tripped</span>
                                    <% } else if(resultStatus[a].fail) { %>
                                        <span class="label label-warning">Failed</span>
                                    <% } else { %>
                                        <span class="label label-success">Closed</span>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <script src="/jquery/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        
        <script src="/chart.js/Chart.bundle.min.js"></script>
        
    
       <script>
            setInterval(() => {
                console.log(new Date());
                $.get('/status', ({resultStatus}, status) => {
                    if (status === 'success') {
                        // console.log(resultStatus)
                        resultStatus.map((data, idx) => {
                            // console.log(idx)
                            const status = data.status;
                            let result; let panel;
                            // update table status
                            if( status.tripped ) {
                                result = '<span class="label label-danger">Tripped</span>';
                                panel = 'panel-danger';
                            } else if( status.fail ) {
                                result = '<span class="label label-warning">Failed</span>';
                                panel = 'panel-warning';
                            } else {
                                result = '<span class="label label-success">Closed</span>';
                                panel = 'panel-success';
                            }
                            $('#status-'+idx).html(result);
                            $('#route-'+idx).html(data.route);
                            
                            // update panel status
                            $('#panel-'+idx).removeClass('panel-danger');
                            $('#panel-'+idx).removeClass('panel-warning');
                            $('#panel-'+idx).removeClass('panel-success');
                            $('#panel-'+idx).addClass(panel);

                            console.log(data)
                        });
                    }
                    
                });
            }, 5000);
       </script>

       <script>
            $('#refresh').click(() => {
                getLog(currIdx)
            });

            const getLog = (idx) => {
                currIdx = idx

                $.get('/monitor_log/'+idx, ({response}, status) => {
                    console.log("INI INDEX ======> " + idx)
                    console.log(response)
                    result = response
                    data.label = response.date;
                    data.datasets[0].data = response.failedTrue
                    data.datasets[1].data = response.trippedTrue
                    
                    var myBarChart = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: options
                    });
                    
                    $('#panel-route').html(response.title)
                });
            }
       </script>
    </body>
</html>